@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "peyda-light";
  src: url("/fonts/Peyda-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "peyda-regular";
  src: url("/fonts/Peyda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "peyda-medium";
  src: url("/fonts/Peyda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "peyda-semibold";
  src: url("/fonts/Peyda-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "peyda-bold";
  src: url("../assets/fonts/Peyda-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "worksans-medium";
  src: url("../assets/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "worksans-semibold";
  src: url("../assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "worksans-bold";
  src: url("../assets/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "worksans-extrabold";
  src: url("../assets/fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "inter-medium";
  src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #111214;
  --text-primary: #111214;
  --text-secondary: #ffffff;
  --button-bg-primary: #f97316;
  --button-bg-secondary: #f3f3f4;
  --button-bg-black: #111214;
  --input-bg-primary: #f94b16;
  --input-bg-secondary: #ffffff;
}

.dark {
  --bg-primary: #111214;
  --bg-secondary: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #111214;
  --button-bg-primary: #f3f3f4;
  --button-bg-secondary: #f97316;
  --button-bg-black: #111214;
  --input-bg-primary: #ffffff;
  --input-bg-secondary: #f94b16;
}

@layer utilities {
  .peyda-light {
    font-family: "peyda-Light";
  }
  .peyda-regular {
    font-family: "peyda-regular";
  }
  .peyda-medium {
    font-family: "peyda-medium";
  }
  .peyda-semibold {
    font-family: "peyda-semibold";
  }
  .peyda-bold {
    font-family: "peyda-bold";
  }
  .worksans-medium {
    font-family: "worksans-medium";
  }
  .worksans-semibold {
    font-family: "worksans-semibold";
  }
  .worksans-bold {
    font-family: "worksans-bold";
  }
  .worksans-extrabold {
    font-family: "worksans-extrabold";
  }
  .inter-medium {
    font-family: "inter-medium";
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .button-bg-primary {
    background-color: var(--button-bg-primary);
    color: var(--text-secondary);
  }
  .button-bg-secondary {
    background-color: var(--button-bg-secondary);
    color: var(--text-primary);
  }
  .button-bg-black {
    background-color: var(--button-bg-black);
    color: #ffffff;
  }
  .button-variant-default {
    border: transparent;
  }
  .button-variant-outline {
    border: 0.125rem solid #863f1e;
  }
  .button-variant-glass {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
    color: var(--text-primary);
    &:hover {
      background-color: #e6394765;
    }
  }
  .button-hover {
    cursor: pointer;
    transition: 300ms;
    &:hover {
      opacity: 70%;
    }
  }

  .input-bg-primary {
    background-color: var(--input-bg-primary);
    color: var(--text-secondary);
  }
  .input-bg-secondary {
    background-color: var(--input-bg-secondary);
    color: var(--text-primary);
  }
}

body {
  min-height: 100vh;
  direction: rtl;
  -webkit-user-select: none;
  user-select: none;

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
